/node_modules
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/vendor
.env
.env.backup
.env.example.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode 